body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calculator-keys button {
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calculator-keys button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f0ad4e;
    color: #fff;
}

.equal-sign {
    background-color: #5cb85c;
    color: #fff;
}

.all-clear {
    background-color: #d9534f;
    color: #fff;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    font-size: 2.5rem;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.calculator-keys button {
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.calculator-keys button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f0ad4e;
    color: #fff;
}

.equal-sign {
    background-color: #5cb85c;
    color: #fff;
}

.all-clear {
    background-color: #d9534f;
    color: #fff;
}
